.two {
  width: 70vw;

  padding: 5rem 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/v-shape.png");
  background-repeat: no-repeat;
  background-size: 1196px;
  background-position-y: 30%;
  background-position-x: 50%;
}

.two__left:hover .line {
  transform: scaleX(1.5);
  transition: transform 0.5s;
}
.two__left h3 {
  color: rgba(227, 11, 24, 0.9);
  font-size: 14px;
  margin-bottom: 1rem;
}
.two__left h2 {
  font-size: 1.5rem;
  line-height: 1.15;
  color: #000000;
  margin-bottom: 20px;
  position: relative;
}

.two__right {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 10px;
}
.two__rightCard {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.two__bottomCard {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .two {
    justify-content: space-between;
  }
  .two__left {
    width: 55%;
  }
  .two__left h2 {
    line-height: 2.5rem;
  }
  .two__right {
    width: 100%;
    display: flex;
  }
  .two__rightCard {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .two__bottomCard {
    flex-direction: row;

    flex-wrap: wrap;
    margin: auto;
  }
  .two__left h3 {
    font-size: 18px;
  }
  .two__left h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .two__rightCard {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .two__bottomCard {
    flex-direction: row;

    flex-wrap: nowrap;
    margin: auto;
  }
}
